.ractive-datatable
    display block
    max-width 100%
    overflow scroll

    table
        border-collapse collapse
        border-spacing 0
        width 100%

    tbody
        border 0px solid fade-out(#000, 0.75)
        border-bottom-width 1px
        border-top-width 1px

    th
        padding 0.5em 1em
        font-size 1.2em
        text-align left
        white-space nowrap
        

    td
        text-align left
        padding 0.5em 1em
        white-space nowrap

        &.editing
            padding 0
            input
                padding 0.5em 1em
                background none
                border none
                outline none
                width 100%
                font-size 1em
                border-bottom 1px dotted #333

    tr
        background #fff
        &:nth-child(even)
            background #fafafa

        & + tr
            border-top 1px solid #ddd
        &:hover td
            background fade-out(#000, 0.95)

    > div
        margin-top 5px

    .pagination
        float right
        user-select none

        .disabled
            opacity 0.15
            cursor default
            user-select none

        a
            display inline-block
            cursor pointer

    .pages
        a
            width 2em
            text-align center

        a.active
            font-weight bold
            text-decoration underline



