.ractive-datatable
    display block
    max-width 100%

    .scroll
        overflow auto

    table
        border-collapse collapse
        border-spacing 0
        width 100%

    tbody
        border 0px solid fade-out(#000, 0.75)
        border-bottom-width 1px
        border-top-width 1px

    thead.sortable th
        cursor pointer

    th
        padding 0.5em 1em
        font-size 1.2em
        text-align left
        white-space nowrap
        
        &.sort:after
            content ''
            border 3px solid transparent
            display inline-block
            margin-left 3px
            vertical-align middle
        &.sort.desc:after
            border-top-color currentColor
        &.sort.asc:after
            border-bottom-color currentColor
            position relative
            top -3px


    td
        text-align left
        padding 0.5em 1em
        white-space nowrap

        &.editing
            padding 0
            input
                padding 0.5em 1em
                background none
                border none
                outline none
                width 100%
                font-size 1em
                border-bottom 1px dotted #333

    .highlight
        background linear-gradient(fade-out(#6bceff, 0.5), fade-out(#0092db, 0.5))
        color fade-out(#000, 0.1)
        border-radius 3px
        box-shadow 0 1px fade-out(#fff, 0.5) inset
        border 1px solid #0092db
        
    tr
        background #fff
        &:nth-child(even)
            background #fafafa

        & + tr
            border-top 1px solid #ddd
        &:hover td
            background fade-out(#000, 0.95)
        &.selected
            background #5699FF
            color #fff

    .footer
        margin-top 5px

    .pagination
        float right
        user-select none

        .disabled
            opacity 0.15
            cursor default
            user-select none

        a
            display inline-block
            cursor pointer

    .pages
        a
            width 2em
            text-align center

        a.active
            font-weight bold
            text-decoration underline



